body {
    padding: 8px;
    margin: 0 0 auto;
}

blockquote blockquote {
    margin-left: 0;
}

form {
    margin-bottom: 0;
}

hr {
    clear: both;
    border: 0 none;
    height: 1px;
}

.postarea {
    text-align: center;
}

.postarea table {
    margin: 0 auto;
    text-align: left;
}

.postblock {
    vertical-align: top;
    padding: 3px;
}

.aa {
    white-space: pre;
    text-align: left;
    font-family: IPAMonaPGothic, Mona, 'MS PGothic', YOzFontAA97 !important;
}

.thumb {
    border: none;
    float: left;
    margin: 4px 20px;
}

.nothumb {
    float: left;
    background: #eee;
    border: 2px dashed #aaa;
    text-align: center;
    margin: 2px 20px;
    padding: 1em 0.5em 1em 0.5em;
}

.message {
    margin: 1em 25px;
}

.reply .message {
    margin-bottom: 5px;
}

.reflink a {
    color: inherit;
    text-decoration: none;
}

.reflink a:hover {
    color: #800000;
}

.reply .filesize {
    margin-left: 20px;
}

.hoverpost {
    display: block;
    clear: both;
    padding: 5px;
    border: 1px solid rgba(0, 0, 0, .15);
    border-right-color: rgba(0, 0, 0, .5);
    border-bottom-color: rgba(0, 0, 0, .5);
}

.spoiler {
    text-decoration: none;
    color: transparent;
    text-shadow: 0 0 10px #000000;
}

.spoiler:hover {
    color: inherit;
    text-shadow: none;
}

.userdelete {
    float: right;
    text-align: center;
    white-space: nowrap;
}

.doubledash {
    vertical-align: top;
    clear: both;
    float: left;
    font-size: 1.75em;
}

.moderator {
    color: #FF0000;
}

.managebutton {
    font-size: 15px;
    height: 28px;
    margin: 0.2em;
}

.banmessage {
    color: red;
    font-weight: bold;
}

.footer {
    clear: both;
    text-align: center;
}

.rules {
    padding-left: 5px;
}

.rules ul {
    margin: 0;
    padding-left: 0;
}

.floatpost {
    float: right;
    clear: both;
}

.catalogpost {
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
    text-overflow: ellipsis;
    min-width: 100px;
    padding: 0px 3px 3px;
}

.login {
    text-align: center;
}

.adminbar {
    text-align: right;
    clear: both;
    float: right;
}

.adminbar a:link, .adminbar a:visited, .adminbar a:active, .adminbar a:hover {
    text-decoration: none;
}

#switchStylesheet {
    margin-left: 5px;
}

#newreplies {
    margin: 5px 0 0 2px;
    font-weight: bold;
}

html, body {
    background: #FFFFEE;
    color: #800000;
}

a {
    color: #0000EE;
}

a:hover {
    color: #DD0000;
}

hr {
    color: #800000;
    background-color: #800000;
    background-image: -webkit-linear-gradient(left,rgba(255,255,238,1),rgba(128,0,0,0.75),rgba(255,255,238,1));
    background-image: -moz-linear-gradient(left,rgba(255,255,238,1),rgba(128,0,0,0.75),rgba(255,255,238,1));
    background-image: -ms-linear-gradient(left,rgba(255,255,238,1),rgba(128,0,0,0.75),rgba(255,255,238,1));
    background-image: -o-linear-gradient(left,rgba(255,255,238,1),rgba(128,0,0,0.75),rgba(255,255,238,1));
}

.reflink a:hover {
    font-weight: bold;
}

.logo {
    clear: both;
    text-align: center;
    font-size: 2em;
    color: #800000;
    width: 100%;
}

.logo a {
    font-size: 0.5em;
}

.replymode {
    background: #E04000;
    text-align: center;
    padding: 2px;
    color: #FFFFFF;
    width: 100%;
}

.manageinfo {
    background: #00B930;
    text-align: center;
    padding: 2px;
    color: #FFFFFF;
    width: 100%;
}

.catalogmode {
    background: #0040E0;
    text-align: center;
    padding: 2px;
    color: #FFFFFF;
    width: 100%;
}

.rules {
    /*font-size:0.7em;*/
    width: 468px;
    font-size: 10px;
    font-family: sans-serif;
}

.rules li {
    margin-left: 1em;
    /*text-indent: 0em;*/
}

.postblock {
    background: #EEAA88;
    color: #800000;
    font-weight: 800;
}

.footer {
    font-size: 12px;
    font-family: serif;
}

.passvalid {
    background: #EEAA88;
    text-align: center;
    width: 100%;
    color: #ffffff;
}

.dellist {
    font-weight: bold;
    text-align: center;
}

.delbuttons {
    text-align: center;
    padding-bottom: 4px;

}

.managehead {
    background: #AAAA66;
    color: #400000;
    padding: 0;
}

.postlists {
    background: #FFFFFF;
    width: 100%;
    padding: 0;
    color: #800000;
}

.row1 {
    background: #EEEECC;
    color: #800000;
}

.row2 {
    background: #DDDDAA;
    color: #800000;
}

.unkfunc {
    background: inherit;
    color: #789922;
}

.glow {
    background: #000000;
    color: #ADFF2F;
}

.glow:hover {
    color: #000000;
    background: #ADFF2F;
}

.filesize {
    text-decoration: none;
}

.filetitle {
    background: inherit;
    font-size: 1.2em;
    color: #CC1105;
    font-weight: 800;
}

.postername {
    color: #117743;
    font-weight: bold;
}

.postertrip {
    color: #228854;
}

.oldpost {
    color: #CC1105;
    font-weight: 800;
}

.omittedposts {
    color: #707070;
}

.reply {
    background: #F0E0D6 !important;
    color: #800000 !important;
}

.replyhl {
    background: #F0C0B0;
    color: #800000;
}

.replytitle {
    font-size: 1.2em;
    color: #CC1105;
    font-weight: 800;
}

.hoverpost {
    background: #FFFFEE;
    color: #800000;
}

.commentpostername {
    color: #117743;
    font-weight: 800;
}

.thumbnailmsg {
    font-size: small;
    color: #800000;
}

.abbrev {
    color: #707070;
}

.highlight {
    background: #F0E0D6;
    color: #800000;
    border: 2px dashed #EEAA88;
}